#my-title {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

#button-download {
    background-color: #FFFFFF00;
    color: #FFFFFF;
    font-size: 16px;
}

#geoMap {
    width: 100%;
    height: 90%;
}

#timeplot-section {
    width: 97%;
}

.footer-section {
    max-height: 0px;
    padding: 0px;
}

.copyright {
    padding: 0px;
}

#loading {
    width: 100%;
    margin-left: 40%;
}

#board-inside {
    /* max-height: 200px; */
}
